@model EmployeeProjectManagement.Models.Department

<h2>Create Department</h2>

<form method="post">

    <label>Department Name</label>
    <input asp-for="Name" />

    <br /><br />

    <button type="submit">Save</button>

</form>