@model EmployeeProjectManagement.Models.Project

<h2>Create Project</h2>

<form method="post">

    <label>Project Title</label>
    <input asp-for="Title" />

    <br /><br />

    <button type="submit">Save</button>

</form>