@model EfCoreBookDemo.Models.BookModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Book</h2>

<h3>Are you sure you want to delete this?</h3>

<div>

    <p><b>Book Name:</b> @Model.BookName</p>

    <p><b>Author:</b> @Model.Author</p>

    <p><b>Price:</b> ₹@Model.Price</p>

    <p><b>Publisher:</b> @Model.Publisher</p>

    <p><b>Category:</b> @Model.Category</p>

</div>

<form asp-action="Delete">

    <input type="hidden" asp-for="BookId" />

    <button type="submit">Delete</button>

</form>

<br>

<a asp-action="Index">Back to List</a>
