body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

button {
    padding: 8px;
    width: 100%;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}